* {
    margin: 0;
    display: border-box;
}

.auth-main {
    display: flex;
    justify-content: center;
}

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #FF70A6, #E9FF70);
    border-radius: 10px;
    height: 30vh;
    width: 20vw;
}

.login-box>input {
    width: 30%;
}

.inputs {
    display: flex;
    flex-direction: column;
}